body {
    margin:  15%;
    margin-right: 15%;
    background: rgb(0, 160, 253);
}
h1 {
    color: rgb(0, 0, 0);
    background-color: rgb(48, 48, 253);
    width: 400px;
    text-align: center;
    border-radius: 10em;
}
#p1 {
    background: blueviolet;
    text-align: center;
}
#p2 {
    background: aqua;
    text-align: left;
}
img{
    width: 75px;
    height: 75px;
}